</div>
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-seek-buttons/dist/videojs-seek-buttons.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/videojs-landscape-fullscreen@11.1.0/dist/videojs-landscape-fullscreen.min.js"
      integrity="sha256-d6Wrz14/Hs8/UbBCnDMw7ReDAgK01FnCbv9Vo8RM9HM="
      crossorigin="anonymous"
    ></script>
    <script src="/script/script.js"></script>
  </body>
</html>
