<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IzHaL's Movies</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <link
      href="
    https://cdn.jsdelivr.net/npm/videojs-seek-buttons/dist/videojs-seek-buttons.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="md:max-w-6xl md:mx-auto">