<nav class="flex flex-wrap items-center p-2 justify-between bg-red-200">
  <h1>IzHaL</h1>
  <div class="flex md:hidden">
    <button id="hamburger" class="focus:outline-none">
      <img
        id="hamburger-open"
        class="block"
        }
        src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png"
        width="40"
        height="40"
      />
      <img
        id="hamburger-close"
        class="hidden"
        src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png"
        width="40"
        height="40"
      />
    </button>
  </div>
  <div
    class="toggle hidden md:flex w-full md:w-auto text-right text-bold mt-5 md:mt-0 border-t-2 border-red-900 md:border-none"
  >
    <a
      href="/"
      class="block md:inline-block text-red-900 hover:text-red-500 px-3 py-3 border-b-2 border-red-900 md:border-none"
    >
      Home
    </a>
    <a
      href="/movies"
      class="block md:inline-block text-red-900 hover:text-red-500 px-3 py-3 border-b-2 border-red-900 md:border-none"
    >
      Movies
    </a>
    <a
      href="/movies/manage"
      class="block md:inline-block text-red-900 hover:text-red-500 px-3 py-3 border-b-2 border-red-900 md:border-none"
    >
      Manage Movie
    </a>
    <a
      href="/movies/manage/trash"
      class="block md:inline-block text-red-900 hover:text-red-500 px-3 py-3 border-b-2 border-red-900 md:border-none"
    >
      Trash Movie
    </a>
  </div>
</nav>
